$colors: (
  black: #000,
  black-text: #434343,
  white: #fff,
  white-text: #f1f3f9,
  footer-bg: #1d1d1e,
  gray-border: #cfd8dc,
);

$font-weights: (
  normal: 400,
  bold: 700,
);

$breakpoints: (
  tablet: 768px,
  desktop: 1366px,
);
