.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 12px 25px;

  > * {
    display: none;
  }

  a,
  img {
    display: block;
  }

  ul {
    display: flex;
  }

  li {
    margin: 0 24px;
    font-size: 20px;
    line-height: 25px;
  }

  div {
    border-radius: 10px;
    color: var(--clr-white-text);
    background: var(--clr-purple);
    padding: 15px 26px;
  }

  @include mq(map-get($breakpoints, desktop)) {
    @include hs();
    padding-top: 47px;
    padding-bottom: 47px;

    > nav {
      display: contents;
    }

    > .icon {
      display: none;
    }

    div {
      display: block;
    }
  }
}

.logo {
  height: calc(0.5 * 2.5em);

  @include mq(map-get($breakpoints, tablet)) {
    height: calc(0.75 * 2.5em);
  }
  @include mq(map-get($breakpoints, desktop)) {
    height: 2.5em;
  }
}
