.home {
  > * {
    @include hs();
  }

  .section-1 {
    div {
      &:last-of-type {
        @include mq(map-get($breakpoints, tablet)) {
          width: 75%;
        }
      }
    }

    h1 {
      font-size: 28px;

      @include mq(map-get($breakpoints, tablet)) {
        font-size: calc(1.5 * 28px);
      }
      @include mq(map-get($breakpoints, desktop)) {
        font-size: calc(2 * 28px);
      }
    }

    span {
      color: var(--clr-purple);
    }

    p {
      margin: 1.2em 0;
      line-height: calc(0.75 * 35px);

      @include mq(map-get($breakpoints, tablet)) {
        font-size: 28px;
        line-height: 35px;
      }
    }

    .input {
      border: 1px solid var(--clr-gray-border);
      display: flex;
      align-items: center;
      border-radius: 0.5em 0 0 0.5em;
    }
    input {
      border: none;
      width: 100%;
      padding: 1em;
      outline: none;
    }
    button {
      padding: 1em 2.5em;
      background-color: var(--clr-purple);
      color: var(--clr-white-text);
      border: none;
      border-radius: 0 0.5em 0.5em 0;
      font-family: $font-family;
    }

    @include mq(map-get($breakpoints, tablet)) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;

      div:has(img) {
        margin-left: 3em;
      }
    }
  }

  .banner {
    background-color: var(--clr-purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;

    * {
      height: 18px;

      @include mq(map-get($breakpoints, tablet)) {
        height: calc(1.13 * 18px);
      }
      @include mq(map-get($breakpoints, desktop)) {
        height: calc(2.25 * 18px);
      }
    }
  }

  .section-2 {
    text-align: center;

    h1 {
      font-size: 24px;

      @include mq(map-get($breakpoints, tablet)) {
        font-size: calc(1.5 * 24px);
      }
      @include mq(map-get($breakpoints, desktop)) {
        font-size: calc(2 * 24px);
      }
    }

    .mkt-items {
      @include mq(map-get($breakpoints, tablet)) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @include mq(map-get($breakpoints, desktop)) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .section-3 {
    background-color: var(--clr-purple);
    color: var(--clr-white-text);

    div {
      &:last-of-type {
        @include mq(map-get($breakpoints, tablet)) {
          width: 75%;
        }
      }
    }

    h1 {
      font-size: 28px;

      @include mq(map-get($breakpoints, tablet)) {
        font-size: calc(1.5 * 28px);
      }
      @include mq(map-get($breakpoints, desktop)) {
        font-size: calc(2 * 28px);
      }
    }

    p {
      margin: 1.2em 0;
      line-height: calc(0.75 * 35px);

      @include mq(map-get($breakpoints, tablet)) {
        line-height: 35px;
      }
    }

    button {
      padding: 1em 2.5em;
      background-color: var(--clr-white);
      color: var(--clr-purple);
      border: none;
      border-radius: 0.5em;
      font-family: $font-family;
    }

    @include mq(map-get($breakpoints, tablet)) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;

      div:has(img) {
        margin-left: 3em;
      }
    }
  }
}
