.home {
  > * {
    margin: 0 auto;
  }
  .section-1 {
    padding: 5vw;

    img {
      max-width: 100%;
    }

    > div {
      &:last-of-type {
        @include mq(map-get($breakpoints, tablet)) {
          width: 52.9%;
        }
      }
    }

    h1 {
      font-size: 28px;
      line-height: 140%;
      letter-spacing: -0.02em;
      font-weight: map-get($map: $breakpoints, $key: normal);

      @include mq(map-get($breakpoints, tablet)) {
        font-size: calc(1.5 * 28px);
      }
      @include mq(map-get($breakpoints, desktop)) {
        font-size: calc(2 * 28px);
      }
    }

    span {
      color: var(--clr-purple);
    }

    p {
      margin: 48px 0;
      line-height: calc(0.75 * 35px);

      @include mq(map-get($breakpoints, tablet)) {
        font-size: 28px;
        line-height: 35px;
      }
    }

    .input {
      border: 1px solid var(--clr-gray-border);
      display: flex;
      align-items: center;
      border-radius: 8px;
      width: 95.8%;
      height: fit-content;
    }
    input {
      border: none;
      width: 100%;
      font-family: $font-family;
      line-height: 130%;
      outline: none;
      padding-left: 15px;
    }
    button {
      padding: 8px 44px;
      background-color: var(--clr-purple);
      color: var(--clr-white-text);
      border: none;
      border-radius: 0 8px 8px 0;
      font-family: $font-family;

      @include mq(map-get($breakpoints, desktop)) {
        padding: 17px 87px;
      }
    }

    @include mq(map-get($breakpoints, tablet)) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      padding-top: 100px;
      padding-bottom: 67px;
    }
  }

  .banner {
    background-color: var(--clr-purple);
    display: flex;
    align-items: center;
    justify-content: space-between;

    * {
      height: calc(0.5 * 38px);

      @include mq(map-get($breakpoints, tablet)) {
        height: calc(0.75 * 38px);
      }
      @include mq(map-get($breakpoints, desktop)) {
        height: 38px;
      }
    }

    @include mq(map-get($breakpoints, tablet)) {
      padding: 10px 139px;
    }
  }

  .section-2 {
    padding-top: 52px;
    padding-bottom: 52px;

    h1 {
      font-size: 24px;
      text-align: center;
      line-height: 30px;
      margin-bottom: 21px;

      @include mq(map-get($breakpoints, tablet)) {
        line-height: 60px;
        margin-bottom: 43px;
        font-size: calc(1.5 * 24px);
      }
      @include mq(map-get($breakpoints, desktop)) {
        font-size: calc(2 * 24px);
      }
    }

    .mkt-items {
      display: grid;
      gap: 24px;

      @include mq(map-get($breakpoints, tablet)) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mq(map-get($breakpoints, desktop)) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .section-3 {
    padding: 5vw;
    background-color: var(--clr-purple);
    color: var(--clr-white-text);

    img {
      max-width: 100%;
    }

    > div {
      &:last-of-type {
        @include mq(map-get($breakpoints, tablet)) {
          width: 415px;
        }
      }
    }

    h1 {
      font-size: 28px;

      @include mq(map-get($breakpoints, tablet)) {
        font-size: calc(1.5 * 28px);
      }
      @include mq(map-get($breakpoints, desktop)) {
        font-size: calc(2 * 28px);
      }
    }

    p {
      margin-top: 35px;
      margin-bottom: 57.55px;
      line-height: calc(0.75 * 35px);

      @include mq(map-get($breakpoints, tablet)) {
        font-size: 18px;
        line-height: 35px;
      }
    }

    button {
      padding: 14px 33px;
      background-color: var(--clr-white);
      color: var(--clr-purple);
      border: none;
      border-radius: 0.5em;
      font-family: $font-family;
    }

    @include mq(map-get($breakpoints, tablet)) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      @include hs();
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}
