.mkt-item {
  border-radius: 15px;
  border: 1px solid var(--clr-gray-border);
  width: 95vw;
  margin: 0 auto;
  padding: 16px;

  > img {
    display: block;
    margin: 0 auto;
  }

  .details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;

    p,
    h4 {
      font-size: 12px;
      line-height: 13px;
    }

    &:nth-of-type(1) {
      text-transform: capitalize;
      margin-top: 16px;
    }
    & *:last-child {
      text-align: right;
    }
  }

  @include mq(map-get($breakpoints, tablet)) {
    width: 292px;
    height: 372px;
  }
}
