.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(map-get($colors, black), 0.3);
  z-index: 10;

  &__content {
    width: 325px;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    font-weight: map-get($map: $font-weights, $key: bold);

    > * {
      padding: 1.2em;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 24px;
      border-bottom: 1px solid var(--clr-gray-border);
    }

    &__content {
      p {
        font-weight: map-get($map: $font-weights, $key: normal);
        font-size: 16px;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5em;
        border: 1px solid var(--clr-gray-border);
        font-size: 18px;
        margin-top: 1em;

        &:first-of-type {
          background-color: mix(map-get($colors, gray-border), #fff);
        }

        img {
          margin: 0.5em 1em;
        }

        span {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
