.mkt-grid {
  nav {
    display: contents;

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 0.5rem;
      padding: 0 5vw;

      @include mq(map-get($breakpoints, tablet)) {
        font-size: 1rem;
        @include hs() // padding: 0;
;
      }
    }

    li {
      & + li {
        margin-left: 24px;
        @include mq(map-get($breakpoints, tablet)) {
          margin-left: 48px;
        }
      }
      &:last-of-type {
        margin-left: 32.5px;
        padding: 7px;
        border-radius: 4px;
        border: 1px solid var(--clr-gray-border);

        @include mq(map-get($breakpoints, tablet)) {
          padding: 14px;
          border-radius: 8px;
          margin-left: 65px;
        }
      }

      img {
        margin-left: 40px;
        height: 12px;
      }
    }
  }

  .mkt-items {
    display: grid;
    gap: 24px;
    padding-top: 5vw;
    padding-bottom: 5vw;

    @include mq(map-get($breakpoints, tablet)) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 64px;
      margin-bottom: 92px;
    }

    @include mq(map-get($breakpoints, desktop)) {
      @include hs();
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
