.sidebar {
  @include modal();

  img {
    position: absolute;
    top: 5%;
    right: 10%;
  }

  &__content {
    width: 80vw;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: var(--clr-white);
    text-align: center;
    padding: 6em 3em;

    div {
      border-radius: 0.5em;
      color: var(--clr-white-text);
      background: var(--clr-purple);
      padding: 1em 1.5em;
    }
  }

  nav {
    display: contents;

    li {
      margin: 2em;
    }
  }
}
