@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap");
:root {
  --clr-black: #000;
  --clr-black-text: #434343;
  --clr-white: #fff;
  --clr-white-text: #f1f3f9;
  --clr-footer-bg: #1d1d1e;
  --clr-gray-border: #cfd8dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Red Rose", cursive;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  height: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  height: 10em;
}
.header > * {
  display: none;
}
.header img {
  display: block;
}
.header ul {
  display: flex;
}
.header li {
  margin: 0.5em;
}
@media only screen and (min-width: 1366px) {
  .header li {
    margin: 1em;
  }
}
.header div {
  border-radius: 0.5em;
  color: var(--clr-white-text);
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  padding: 1em 1.5em;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 1.5em 3em;
  }
  .header > nav {
    display: contents;
  }
  .header > .icon {
    display: none;
  }
  .header div {
    display: block;
  }
}

.logo {
  height: 2.5em;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal__content {
  width: 325px;
  border-radius: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-weight: 700;
}
.modal__content > * {
  padding: 1.2em;
}
.modal__content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 24px;
  border-bottom: 1px solid var(--clr-gray-border);
}
.modal__content__content p {
  font-weight: 400;
  font-size: 16px;
}
.modal__content__content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
  border: 1px solid var(--clr-gray-border);
  font-size: 18px;
  margin-top: 1em;
}
.modal__content__content div:first-of-type {
  background-color: #e7ecee;
}
.modal__content__content div img {
  margin: 0.5em 1em;
}
.modal__content__content div span {
  display: flex;
  align-items: center;
}

.footer {
  background-color: var(--clr-footer-bg);
  color: var(--clr-white-text);
  padding: 3.5em 7.5%;
  text-align: center;
  position: relative;
  max-width: 100vw;
}
.footer div:nth-child(1) div {
  margin: 4em auto 2em;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer div:nth-child(1) div {
    margin-left: 0;
    margin-right: 0;
  }
}
.footer div:nth-child(1) p {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 768px) {
  .footer div:nth-child(1) p {
    position: static;
    transform: none;
  }
}
.footer__links h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1em;
}
.footer__links > * {
  margin: 0 2em;
}
.footer__links li {
  margin: 1em;
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  .footer__links {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

/*# sourceMappingURL=main.css.map */
